@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-color:hsl(224,32%,9%);
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
    display: flex;
    width: 1440px;
}
.content__wrapper {
    flex-direction: column;
    display: flex;
    align-items:flex-start;
    margin: 45px 0px 0px 20px;
}
.content_search {
    display: flex;
}
.search__box {
    cursor: pointer;
    background:  transparent;
    border: transparent;
    outline: none;
    font-size: 20px;
    width: 600px;
    color: white;
}
.search__img {
    margin: 0px 10px 0px 0px;
    width: 35px;
    height: 35px;
    color: white;
}
input:focus::placeholder {
    color: transparent;
    transition: 0.3s;
}

/* Установка верхних элементов в меню */
.nav__menu {
flex-direction: column;
display: flex;
align-items:center;
background-color:hsl(223,36%,14%);
width: 100px;
height: 1100px;
border-radius: 30px;
overflow: hidden;
}
.nav__menu div{ 
    margin-top: 40px;
    width: 40px;
    height: 40px;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.nav__film__1{  
   background: url(/img/black_film_icon.png);
}
.nav__film__2{
   background: url(/img/black_menu_icon.png); 
}
.nav__film__3{
   background: url(/img/black_bookmark.png)
}
.nav__film__4{
    background: url(/img/black_favorite.png)
}

/* Установка профиля */

.nav__menu .nav__profile {
    margin-top: auto;
    margin-bottom: 40px;
    border: solid 1px white;
    border-radius: 50%;
    background-color: transparent;
    background: url(/img/1920.png);
    background-size: cover;

}

/* Ховер на меню слева */

.nav__menu div:hover {
    cursor: pointer;
    transition:  1s;
    background-size: cover;
}
.nav__film__1:hover {
    background: url('/img/white_film_icon.png');
}
.nav__film__2:hover{
    background: url('/img/white_menu_icon.png');
}
.nav__film__3:hover{
    background: url('/img/white_bookmark.png');
}
.nav__film__4:hover{
    background: url('/img/white_favorite.png');
}

/* Трендинг верхняя часть сайта */

.trending_name {
    font-size: 1.5rem;
    color: white;
    letter-spacing: 3px;
}
.trending__contains {
    display: flex; 
}
.trending__films {
    width: 600px;
    height: 300px;
    background-color:white;
    margin-right: 20px;
    border-radius: 20px;
    background-size: cover;
    overflow: hidden;
}
.trending__films__text {
    display: flex;
    flex-direction: column;

}
.trending__films__bookmark {
    
    margin: 20px 0px 0px 530px;
    width: 40px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 30px;
    background: url(/img/white_bookmark.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(12, 12, 12, 0.5);
}
.trending__films__annotation {
    margin: 180px 0px 0px 15px;
    font-size: small;
    color:rgb(255, 255, 255);
    text-shadow: #000 0.5px 0 0px, #000 0 0.5px 0px, #000 -0.5px 0 0px, #000 0 -0.5px 0px;

}
.trending__films__name {
    margin: 0px 0px 0px 15px;
    font-size: larger;
    color:white;
    text-shadow: #000 0.5px 0 0px, #000 0 0.5px 0px, #000 -0.5px 0 0px, #000 0 -0.5px 0px;

}

/* Каждый отдельный фильм */
#bladeRunner {
    background-image: url(/postersFilm/blade-runner-2049_7494_1600x1200.jpg);
}
#rickandmorty {
    background-image: url(/postersFilm/rick-and-morty_f56d_1600x1200.jpg);
}
#thehobbit {
    background-image: url(/postersFilm/the-hobbit-the-battle-of-the-five-armies_7c88_1440x900.jpg)
}
/* Каждый отдельный фильм из рекомендованных*/
#godfather {
    background-image:url(/postersFilm/thegodfather.jpg)
}
#angrymen12 {
    background-image: url(/postersFilm/12angrymen.jpg)
}
#apocalypsenow {
    background-image: url(/postersFilm/apocalypsenow.jpg)
}
#schindlerslist {
    background-image: url(/postersFilm/schindlerslist.jpg)
}
#thgoodthebadandtheugly {
    background-image: url(/postersFilm/thgoodthebadandtheugly.jpg)
}
#lottrotk {
    background-image: url(/postersFilm/thelordoftherings-thereturnoftheking.jpg)
}
#thegodfathertwo {
    background-image: url(/postersFilm/thegodfathertwo.jpg)
}
#spiritedaway {
    background-image:url(/postersFilm/spiritedaway.jpg)
}
/* Рекомендованные */
.reccomended__films__bookmark {
    margin: 20px 0px 0px 305px;
    width: 25px;
    height: 25px;
    border: 2px solid grey;
    border-radius: 30px;
    background: url(/img/white_bookmark.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(12, 12, 12, 0.5);
}
.content__rec {
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
    margin: 26.5px 0px 0px 0px;
}
.reccomended__contains {
    display:flex;
    max-width: 1500px;
    flex-wrap: wrap;
}
.reccomended__films {
    margin-top: 20px;
    width: 350px;
    height: 240px;
    margin-right: 20px;
    border-radius: 20px;
    background-size: cover;
    overflow: hidden;
}
.reccomended__films__annotation {
    margin: 130px 0px 0px 15px;
    font-size: small;
    color:rgb(255, 255, 255);
    text-shadow: #000 0.5px 0 0px, #000 0 0.5px 0px, #000 -0.5px 0 0px, #000 0 -0.5px 0px;
}
.reccomended__films__name {
    text-shadow: #000 0.5px 0 0px, #000 0 0.5px 0px, #000 -0.5px 0 0px, #000 0 -0.5px 0px;
    margin-left: 15px;
    font-size: larger;
    color:white;
}
